nav {
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.brand {
    color: rgb(58, 58, 58);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 36px;
}

nav>ul {
    list-style: none;
    gap: 34px;
}

nav li a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 1rem;
    font-weight: 600;
}

.banner {
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
}

.banner-content {
    max-width: 582px;
}

.banner-title {
    color: rgb(58, 58, 58);
    font-size: 3.25rem;
    font-weight: 700;
}

.banner-content>p {
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
    margin: 2rem 0;
}

.banner-content>button {
    padding: 10px 24px;
    border: none;
    border-radius: 1.25rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}

.banner-img {
    background-image: url("../assets/images/Circle\ design.svg");
}

.banner-img img {
    border: 2px dashed #ccc;
    width: 100%;
}

#mobile-icon {
    display: none;
}

#mobile-icon a {
    font-size: 1.9rem;
}


/* media query */
@media screen and (max-width: 576px) {
    nav{
        padding: 20px 24px;
        justify-items: center;
    }
    nav>ul li {
        display: none;
    }

    #mobile-icon {
        display: block;
    }

    nav>ul {
        gap: 1.1rem;
        text-align: center;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner {
        padding: 20px;
    }

    .banner-content {
        text-align: center;
        margin-bottom: 2rem;
    }

    .banner-title {
        font-size: 2.1rem;
        margin-top: 3rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    nav {
        padding: 40px 24px;
    }

    nav>ul li {
        display: none;
    }

    #mobile-icon {
        display: block;
    }

    .banner {
        padding: 60px 24px;
    }

    .banner-title {
        font-size: 2.5rem;
    }
}